streamlit==1.37.0
langchain-openai==0.2.10
langchain-neo4j==0.1.1
langchain==0.3.9
neo4j==5.27.0
openai==1.56.0
langchain-core~=0.3.63
tenacity!=8.4.0
langchain-community~=0.3.24
langchain-experimental~=0.3.4